<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roch.kiedydojade.feature">

    <application>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartVwiew"/>
        <activity android:name=".Options"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".AddNewPost"/>
        <activity android:name=".Sensors.SensorList"/>
        <activity android:name=".Sensors.ProximitySensor"/>
        <activity android:name=".Sensors.Accelerometer"/>
    </application>

</manifest>